<div class="newsContainer" style="border: dashed black 1px; height: 90%; width: 78%;">
    <div style="display:inline-block">


        <div class="error" style="margin-left: 20px; text-align: center" ng-show="errors.length > 0">
                <span ng-repeat="elem in errors">
                    <span>{{elem}}</span>
                    <br>
                </span>
        </div>


        <div class="labels">
            <div style=" margin: 11px;">
                <label for="title" style="font-weight:bold">Title</label>
            </div>
            <br>

            <div style=" margin: 24px 11px 11px;">
                <label for="datepicker-12" style="font-weight:bold">Date</label>
            </div>
            <br>

            <div style=" margin: 50px 11px 11px;">
                <label for="brief" style="font-weight:bold">Brief</label>
            </div>
            <br>

            <div style=" margin: 85px 11px 11px;">
                <label for="content" style="font-weight:bold">Content</label>
            </div>
            <br>
        </div>


        <form style="display: inline-block" ng-submit="createNews()">
            <div class="inputs">
                <input id="title" type="text" name="title" ng-model="newsModel.title" style="width:100%" required>
                <md-datepicker name="dateField" id="datepicker-12" ng-model="newsModel.modificationDate"
                               md-placeholder="Enter date"
                               md-min-date="minDate"></md-datepicker>
                <textarea id="brief" style="width:100%" rows="5" name="shortText" ng-model="newsModel.shortText"
                          required></textarea>
                <textarea id="content" style="width:100%" rows="15" name="fullText" ng-model="newsModel.fullText"
                          required></textarea>
            </div>
            <div class="selectorAdmin">

                <div style="display: inline-block;">
                    <div style="display: inline-block; "
                         isteven-multi-select
                         input-model="inputAuthors"
                         allow-clear="true"
                         output-model="outputAuthors"
                         button-label="icon name"
                         item-label="icon name maker"
                         tick-property="ticked">
                    </div>
                </div>

                <div style="display: inline-block;">
                    <div style="display: inline-block; "
                         isteven-multi-select
                         input-model="inputTags"
                         allow-clear="true"
                         output-model="outputTags"
                         button-label="icon name"
                         item-label="icon name maker"
                         tick-property="ticked">
                    </div>
                </div>

            </div>
            <p>

            <div>
                <button type="submit" class="loginButton" style="float:right; margin-right: -9px ">Save</button>
            </div>
            </p>
        </form>

        <!-- <form style="display: inline-block">
       &lt;!&ndash;  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
         <input type="hidden" name="id" value="${news.id}"/>
         <input type="hidden" name="version" value="${news.version}"/>&ndash;&gt;
         <div class="inputs" >
             <input id="title" type="text" name="title" value="${news.title}" style="width:100%"/>
             <input type="text" id="datepicker-12" value="${news.modificationDate}" name="modificationDate">
             <textarea id="brief" style="width:100%" rows="5" name="shortText">${news.shortText}</textarea>
             <textarea id="content" style="width:100%" rows="15" name="fullText">${news.fullText}</textarea>
         </div>
         <div class="selectorAdmin">
             <select multiple="multiple" style="display: inline-block;" name="authorIds">
                 <c:forEach var="element" items="${authors}">
                     <c:choose>
                         <c:when test="${news.authors.contains(element)}">
                             <option value="${element.id}" selected>${element.name}</option>
                         </c:when>
                         <c:otherwise>
                             <option value="${element.id}">${element.name}</option>
                         </c:otherwise>
                     </c:choose>
                 </c:forEach>
             </select>
             <select multiple="multiple" style="display: inline-block;" name="tagIds">
                 <c:forEach var="element" items="${tags}">
                     <c:choose>
                         <c:when test="${news.tags.contains(element)}">
                             <option value="${element.id}" selected>${element.name}</option>
                         </c:when>
                         <c:otherwise>
                             <option value="${element.id}">${element.name}</option>
                         </c:otherwise>
                     </c:choose>
                 </c:forEach>
             </select>
         </div>
         <p>
         <div >
             <button type="submit" class="loginButton" style="float:right; margin-right: -9px ">Save</button>
         </div>
         </p>
         </form>-->

    </div>
</div>