<div class="newsContainer" style="padding: 20px; border: dashed black 1px; height: 89%; width: 75%;">
    <div class="error" style="margin-left: 20px; text-align: center" ng-show="error != null">
        <span>{{error}}</span>
    </div>
    <div ng-repeat="element in authors" style=" margin-bottom: 45px; margin-top: 45px;" id="div{{element.id}}"
         ng-if="element.expired == null">
        <label for="title" style="font-weight:bold">Tag:</label>
        <input type="text" ng-init="authorN=element.name" ng-model="authorN" style="width:70%" ng-disabled="!editMode"/>
          <span style="margin-left:20px;text-decoration: underline;"><button ng-if="editMode" href
                                                                             style="color: blue; text-decoration: underline; padding: 1px 1px; border: none; background-color: transparent; font-weight:bold"
                                                                             class="editAuthor"
                                                                             ng-click="updateAuthor(element,authorN)">
              update
          </button>
                </span>
        <span><button ng-if="editMode" type="submit" href
                      style="color: blue;text-decoration: underline; border: none; padding: 1px 1px; font-weight:bold; background-color: transparent;"
                      class="editAuthor" ng-click="deleteAuthor(element)">expire
        </button></span>
            <span style="margin-left:10px;">
            <button ng-if="editMode" href
                    style="color: blue;text-decoration: underline; border: none; padding: 1px 1px; font-weight:bold; background-color: transparent;"
                    class="editAuthor" ng-click="turnOffEditMode()">
                cancel
            </button>
            </span>
            <span style="margin-left:20px">
            <button ng-if="!editMode"
                    style="color: blue; font-weight:bold;  border: none; background-color: transparent;"
                    class="viewAuthor" ng-click="turnToEditMode()">
                edit
            </button></span>
    </div>


    <div style=" margin-bottom: 45px; margin-top:60px">
        <form ng-submit="createAuthor()">
            <label for="title" style="font-weight:bold">Add author</label>
            <input id="title" type="text" name="authorName" value="" ng-model="authorName" style="width:67%"/>
            <span style="margin-left:20px"><button
                    style="color: blue; font-weight:bold;  border: none; background-color: transparent;">Save
            </button></span>
        </form>
    </div>


    <div class="pages" style="bottom: -5%">
        <div style="display: inline-block;">
            <ul class="pagination">
                <li ng-repeat="n in [] | range:count">
                    <button type="submit" ng-click="getInfo($index+1)" value="{{$index+1}}" id="button{{$index+1}}"
                            ng-class="{ 'on' : ($index+1) == currentPage }">
                        {{$index+1}}
                    </button>
                </li>
                <input type="hidden" name="page" id="pageNum">
            </ul>
        </div>
    </div>
</div>