<div style="border: dashed black 1px;position: relative; width: 98%; height: 94%; margin: 0 auto; top:2%">
    <form name='loginForm' ng-submit="onLogin()" ng-controller="LoginController">
        <div class="login">

            <div class="error" ng-show="error">Invalid username or password!</div>

            <div class="field">
                <label for="username" style="display: inline-block">Login:</label>
                <input type="text" id="username" ng-model="credentials.username" name="username"
                       style="display: inline-block"/>
            </div>
            <div class="field">
                <label for="password" style="display: inline-block">Password:</label>
                <input type="password" id="password" ng-model="credentials.password" name="password"
                       style="display: inline-block"/>
            </div>
            <br>
            <button type="submit" class="loginButton">Login</button>
        </div>
    </form>
</div>