<div class="newsContainer" style="border: dashed black 1px; height: 88%; width: 77%; ">
    <div class="selector" style="text-align: center">

        <div style="display: inline-block;">
            <select id="authorSelect" style="display: inline-block; height: 37px" model=author; ng-model="authorName">
                <option disabled value="">Please, select author</option>
                <option ng-repeat="element in inputAuthors" value="{{element.name}}">{{element.name}}</option>
            </select>
        </div>

        <div style="display: inline-block;">
            <div style="display: inline-block; "
                 isteven-multi-select
                 input-model="inputTags"
                 allow-clear="true"
                 output-model="tags"
                 button-label="icon name"
                 item-label="icon name maker"
                 tick-property="ticked">
            </div>
        </div>

        <button id="resetButton" style="height: 37px" ng-click="resetFilter()">Reset</button>
        <button type="submit" style="height:37px" ng-click="searchNews()">Filter</button>
    </div>

    <form ng-submit="deleteNews()">
        <div class="news" ng-repeat="element in news" ng-cloak>
            <span class="newsTitle">{{element.title}}</span>
            <span>(by </span>
                    <span ng-repeat="elem in element.authors">
                        {{elem.name}}
                       <span ng-if="$index+1 != element.authors.length">,</span>
                   </span>
            <span>)</span>
            <a href="" class="newsDate">{{element.modificationDate | date : "dd/MM/y"}}</a>
            <br>
            <br>
            <br>
            <span> {{element.shortText}}</span>
            <br>

            <div class="comments">
                        <span ng-repeat="elem in element.tags">
                            <span>{{elem.name}}</span>
                              <span ng-if="$index+1 != element.tags.length">,</span>
                        </span>
                <span>  </span>
                <span>  </span>
                <span style="color:red; padding-left: 10px; padding-right: 10px">Comments({{element.commentsCount}})</span>
                <a ng-href="#/newsView/{{element.id}}/{{element.position}}/{{tags}}/{{authorName}}/{{newsCount}}"
                   style="color:blue">View</a>

                <a ng-href="#/addNewsPage/{{element.id}}" style="color:blue">Edit</a>

                <input type="checkbox" ng-model="element.checked" value="{{element.id}}">
            </div>
            <br>
            <br>
            <br>
        </div>
        <div>
            <button type="submit" class="loginButton" style="float:right; margin-right: 9px ">Delete</button>
        </div>
    </form>


    <div class="pages" style="bottom: -10%">
        <div style="display: inline-block;">
            <ul class="pagination">
                <li ng-repeat="n in [] | range:count">
                    <button type="submit" ng-click="searchNews($index+1)" value="{{$index+1}}" id="button{{$index+1}}"
                            ng-class="{ 'on' : ($index+1) == currentPage }">
                        {{$index+1}}
                    </button>
                </li>
                <input type="hidden" name="page" id="pageNum">
            </ul>
        </div>
    </div>
</div>




