<div style="padding: 10px; border: dashed black 1px; height: 92%; width: 77%;" class="newsContainer">
    <div style="width:98%; margin: 0 auto; padding-top: 20px">
        <span class="newsTitle">{{newsPiece.title}}</span>
        <span>(by </span>
                    <span ng-repeat="elem in newsPiece.authors">
                        {{elem.name}}
                       <span ng-if="$index+1 != newsPiece.authors.length">,</span>
                   </span>
        <span>)</span>
        <a href="" class="newsDate">{{newsPiece.creationDate | date : "dd/MM/y" }}</a>
        <br>
        <br>
        <br>
        <span> {{newsPiece.fullText}}</span>

        <div class="clearfix">
            <div style="width:80%; float: left">

                <div ng-repeat="elem in newsPiece.comments">
                    <br>
                    <a href="" style="float:left; color: black">{{elem.creationDate | date : "dd/MM/y"}}</a>
                    <br>

                    <div class="comment">
                        <form ng-submit="deleteComment(elem)">
                            <input type="image"
                                   src="https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/CloseCancelSquare-128.png"
                                   name="saveForm" class="btTxt submit" id="saveForm"
                                   style="float: right; width: 16px; height: 15px; display: block"/>
                            <span>{{elem.text}}</span>
                        </form>
                    </div>
                </div>


                <form ng-submit="sendComment()">
                    <textarea style="width:99%; margin-top: 20px;" rows="10" name="commentText"
                              ng-model="commentText"></textarea>
                    <button type="submit" class="loginButton" style="float: right; margin-top: 20px">Add comment
                    </button>
                </form>

            </div>
        </div>
    </div>
    <div ng-show="position != -1">
        <div style="float:left; margin-top: 40px;" ng-if="position != 1">
            <a href="" style="color: blue;" ng-click="getInfo(0)">PREVIOUS</a>
        </div>
        <div style="float:right; margin-top: 40px;" ng-if="position != count">
            <a href="" style="color: blue; " ng-click="getInfo(1)">NEXT</a>
        </div>

    </div>
</div>