<!DOCTYPE html >
<html ng-app="newsApp">
<head>
    <link rel="stylesheet" type="text/css"
          href="/admin/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css"
          href="/admin/resources/css/jquery.multiselect.css"/>
    <link rel="stylesheet" type="text/css"
          href="/admin/resources/css/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css"
          href="/admin/resources/css/isteven-multi-select.css"/>
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <title>News portal - Administration</title>
</head>
<body>
<div class="main">
    <div class="container bordered" ng-controller="MainCtrl" ng-cloak>
        <header>
            <div class="admin">
                <div class="clearfix" style="width: 100%">
                    <div class="titleNews">
                        <h1 style="color: blue; margin-left: 20px">News portal - Administration</h1>
                    </div>
                    <div class="language-box" ng-controller="LoginController" ng-show="isLoggedIn()">
                        <span style="font-weight:bold">Hello, Admin {{user}}</span>

                        <button class="logoutButton" ng-click="logout()">Logout</button>

                        <br>

                        <div class="language-box">
                            <a href="?lang=en" style="color: blue;">EN</a>
                            <a href="?lang=ru" style="color: blue;">RU</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="menu" ng-if="isLoggedIn()">
            <img src="/admin/resources/images/arrow.png">
            <a ng-href="#/newsList">News List</a>
            <br>
            <br>
            <img src="/admin/resources/images/arrow.png">
            <a ng-href="#/addNewsPage">Add news</a>
            <br>
            <br>
            <img src="/admin/resources/images/arrow.png">
            <a href="#/authorPage">Add/Update Authors</a>
            <br>
            <br>
            <img src="/admin/resources/images/arrow.png">
            <a href="#/tagPage">Add/Update Tags</a>
            <br>
            <br>
        </div>
        <div ng-view style="height: 93%"></div>

    </div>


    <footer style="text-align: center" class="admin">
        Copyright @ Epam 2016. All right reserved.
    </footer>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/admin/resources/js/scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script src="/admin/resources/js/isteven-multi-select.js"></script>
<script src="/admin/resources/js/s.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="/admin/resources/app.js"></script>
<script src="/admin/resources/app/app.config.js"></script>
<script src="/admin/resources/app/app.filter.js"></script>
<script src="/admin/resources/controllers/add.news.controller.js"></script>
<script src="/admin/resources/controllers/main.controller.js"></script>
<script src="/admin/resources/controllers/login.controller.js"></script>
<script src="/admin/resources/controllers/author.controller.js"></script>
<script src="/admin/resources/controllers/tag.controller.js"></script>
<script src="/admin/resources/controllers/news.controller.js"></script>
<script src="/admin/resources/services/news.service.js"></script>
<script src="/admin/resources/controllers/news.view.controller.js"></script>
<script src="/admin/resources/services/news.view.service.js"></script>
<script src="/admin/resources/services/auth.service.js"></script>
<script src="/admin/resources/services/comment.service.js"></script>
<script src="/admin/resources/services/tag.service.js"></script>
<script src="/admin/resources/services/author.service.js"></script>
</body>
</html>