html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

.admin {
    border-style: solid;
    border-color: black;
}

.bordered {
    border-left: solid black;
    border-right: solid black;
}

.field {
    text-align: right;
    line-height: 25px;
    margin-bottom: 5px;
}

label {
    float: left;
    padding-right: 10px;
}

.main {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.language-box {
    float: right;
    margin: 5px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block
}

#loginForm button {
    float: right;
}

.login {
    position: absolute;
    top: 40%;
    left: 37%;
    text-align: left;
    width: 23%;
}

.login input[type="text"] {

    border-top: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.login input[type="password"] {

    border-top: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.loginButton {
    border: none;
    color: black;
    background-color: #E1EAED;
    padding: 10px 25px;
    text-align: center;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: -10px;
    float: right;
}

.footer {
    position: absolute;
    bottom: 0;
}

.container {
    height: 97%;
    position: relative;
}

.selector {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.newsTitle {
    font-weight: bold;
}

.newsDate {
    float: right;
    color: black;
}

.comments {
    float: right;
}

.comments a {
    padding-right: 20px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination button {
    border: none;
    color: black;
    background-color: white;
    border: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    padding: 8px 25px;
    text-align: center;
    border: 1px gray solid;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
    margin-top: -10px;
}

.pagination button.active {
    color: white;
    background-color: black;
}

.pages {
    text-align: center;
    background-color: #c9c9c9;
    background-color: rgba(201, 201, 201, 0.5);
    padding-bottom: 20px;
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: -35%;

}

.newsContainer {
    width: 98%;
    margin: 0 auto;
    position: relative;
    height: 85%;
    padding-top: 40px;
    margin-top: 10px;
}

.comment {
    background-color: rgba(201, 201, 201, 0.8);
    padding-bottom: 10px;
}

.menu {
    width: 15%;
    float: left;
    border: solid #BBC0BF 25px;
    border-top: none;
    margin-right: 20px;
    margin-top: 10px;
}

.newsContainer {
    display: inline-block;
    width: 75%;
}

.titleNews {
    float: left;
    width: 75%;
}

.logoutButton {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: black;
    background-color: #E1EAED;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    padding: 2px 17px;
    text-align: center;
    border: 1px gray solid;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.labels {
    float: left;
}

.inputs {
    display: inline-block;
    margin-bottom: 40px;
}

.inputs input {
    margin: 10px;
}

.inputs textarea {
    margin: 10px;
}

.selectorAdmin {
    width: 70%;
    margin: 0 auto;
}

#authorSelect {
    display: inline-block;
    height: 30px;
    width: 150px;
    padding: 2px 10px 2px 2px;
    outline: none;
    color: #74646e;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff;
}

.news {
    margin-left: 20px;
    margin-right: 20px;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.ng-binding.on {
    background-color: black;
    color: white;
    font-weight: bold;
}

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}

.menu > a {
    color: blue;
}

.menu > img {
    width: 20px;
    height: 18px;
}
